<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>608287284847-kven82hq15suseqhedlmedi69n2lp74u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608287284847-kven82hq15suseqhedlmedi69n2lp74u</string>
	<key>API_KEY</key>
	<string>AIzaSyCy1m81w0kAaJnG9cDUWCo1ZQ_nodB3O4g</string>
	<key>GCM_SENDER_ID</key>
	<string>608287284847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KKS.WYF2</string>
	<key>PROJECT_ID</key>
	<string>wyf2-b66ed</string>
	<key>STORAGE_BUCKET</key>
	<string>wyf2-b66ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:608287284847:ios:b01bd3bfdc56230b</string>
	<key>DATABASE_URL</key>
	<string>https://wyf2-b66ed.firebaseio.com</string>
</dict>
</plist>